<!-- <div class="inner">  -->
<script src="{{ "assets/js/jribbble.min.js" | relative_url }}"></script>
<script>
    jribbble.shots({token: "349fbe16a18b7de52ef07c4689b0e43e020e104873419df2422772e881dc6a6f"}, function(shots) {
        
        document.querySelector(".dribbble-shots-list").innerHTML = shots.reduce(function(html, shot) {
            return html + '<div class="4u"><span class="fit" ><a href="'+  shot.html_url + '" target="_blank"><img src="' + shot.images.normal + '"/></a></span></div>';
        }, "");
        
        $('.dribbble-shots-list').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
                },
                {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
                },
                {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
                }
            ]
        });
    });
    
</script>

<section id="three">
    <div class="inner">
        <header class="major">
            <h2>Latest Dribbble Posts</h2>
        </header>
        <div class="dribbble-shots-list"></div>
    </div>
</section>