<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.email %}
				<li><a href="mailto:{{ site.email }}" class="icon light fa-envelope" target="_blank"><span class="label">E-Mail</span></a></li>
				{% endif %}
				{% if site.dribbble_url %}
				<li><a href="{{ site.dribbble_url }}" class="icon light fa-dribbble" target="_blank"><span class="label">Dribble</span></a></li>
				{% endif %}
				{% if site.behance_url %}
				<li><a href="{{ site.behance_url }}" class="icon light fa-behance" target="_blank"><span class="label">Dribble</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon light fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
				{% if site.cv_url %}
				<li><a href="{{ site.cv_url }}" class="icon light fa-file-text-o" target="_blank"><span class="label">Resume</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon light fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon light fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon light fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
			</ul>
		</div>
	</footer>
</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/util.js" | relative_url }}"></script>
	<script src="{{ "assets/js/imagecaption.js" | relative_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | relative_url }}"></script>
	<script type="text/javascript" src="{{ "assets/slick/slick.min.js" | relative_url }}"></script>
