//
// Sass variables customization
// -----------------------------------------------------------------------------
// All Sass vaiables in `_variables.scss` can be overwritten below.
// Due to the limitation of Sass, I don't have variable hoisting feature like
// native CSS or Less at hand, so it's dirty to have two user defined
// stylesheets, hope for native color manipulation in the future.
//
// - This file should contain only Sass variables defined in theme Curtana.
// - CSS varaibles customization should be defined in `_user.scss`.

@mixin heading {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: var(--heading-letter-spacing);
    font-family: var(--fontstack-serif);
  }
  
  @mixin sub-heading {
    // font-size: 2.4rem;
    font-weight: normal;
    opacity: .5;
    font-family: var(--fontstack-serif);  
  }

:root {
    // --text-color-h: 220;
    // --text-color-s: 46%;
    // --text-color-l: 35%;
    --font-size: 1rem;
    // --font-size-base: 1rem;
    // --font-size-factor: 1vw;
    // --font-size: calc(var(--font-size-base) + var(--font-size-factor));

    --nav-padding: 1vmax;

    --text-color-h: 0;
    --text-color-s: 0%;
    --text-color-l: 20%;

    --link-color-h: 220;
    --link-color-s: 46%;
    --link-color-l: 35%;

    --bg-color-h: 210;
    --bg-color-s: 50%;
    --bg-color-l: 98%;
}